.App-header {
  background-color: #282c34;
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

body {
  background-color: #F5F4F4 !important;
}

.cover {
  object-fit: cover;
}

.cardHover:hover{
  box-shadow: 0px 6px 12px rgba(0,0,0,.1);
  transition: all .3s ease-in-out;

}
.cardHover:hover .titleHover{
  transition: all .3s ease-in-out;
  text-decoration:underline;
}
.accordion-sticky{
  position: sticky;
  top:0;
}